<section id="work" class="site-page site-page--work">
  <header class="page-header">
    <%- partial('_partial/icon/icon-build') %>
      <h2 class="page-title">
        I
        <strong>design and build</strong> web applications. I currently work as a Software Developer at
        <a href="https://eyeo.com/">eyeo</a>
      </h2>
  </header>
  <section class="works">
    <h3 class="sr-only">Featured Work</h3>
    <% for (var index in site.data.work.work) { %>
      <% var work = site.data.work.work[index] %>
        <article class="work">
          <div class="work-content">
            <h4 class="work-title">
              <%= work.title %>
            </h4>
            <p class="work-roles">
              <% for (var i in work.roles) { %>
                <% var workRole = work.roles[i] %>
                <span class="role role-<%= workRole %>" style="color: <%= site.data.work.roles[workRole].color %> ">
                  <%= site.data.work.roles[workRole].name %>
                </span>
              <% } %>
            </p>
            <p class="work-excerpt">
              <%- work.excerpt %>
            </p>
          </div>
          <figure class="work-image">
            <div class="work-screenshot-container work-screenshot-container-<%= work.type %>">
              <img class="work-screenshot" src="<%= work.image %>" alt="<%= work.title %>">

              <% if (work.mobile_footer) { %>
                <img class="mobile-footer" src="<%= work.mobile_footer %>" alt="">
               <% } %>
            </div>

            <% if (work.type == 'mobile') { %>
            <img class="work-device work-device--iphone" src="/img/work/iphone.png" alt="">
            <% } else { %>
            <img class="work-device work-device--macbook" src="/img/work/macbook.png" alt="">
            <% } %>
          </figure>
        </article>
        <% } %>
  </section>
</section>